<a href="https://colab.research.google.com/github/soheilmohammadi1/AP_HW/blob/main/week_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 - yes

2 - the expression list[-1] represents the last element

3 - [45, -3 16, 8]

4 -  
(a) lst[0]

(b) lst[-1]

(c) 10

(d) 20

(e) -4

(f) 29

(g) 10

(h) it's illegal because it can only be an integer

5 - 
(a) - 3

(b) - 5

(c) - 1

(d) - 5

(e) - 5

(f) - 2

(g) - 0

(h) - 3

6 - len()

7 - []

8 - 
(a) [20, 1, -34, 40, -8, 60, 1, 3]

(b) [20, 1, -34]

(c) [-8, 60, 1 , 3]

(d) [-8, 60 , 1 , 3]

(e) [40, -8]

(f) [20, 1, -34]

(g) [-8, 60, 1, 3]

(h) [20, 1, -34, 40, -8, 60, 1, 30]

(i) [20, 1 , -34, 40]

(j) [1, -34, 40, -8]

(k) True

(L) False

(m) 8

9 - 
I couldn't do it 

10 - 
(a) [8,8,8,8]

(b) [2,7,2,7,2,7,2,7,2,7,2,7]

(c) [1,2,3,'a','b','c']

(d) [1,2,1,2,1,2,4,2]

(e) [1,2,4,2,1,2,4,2,1,2,4,2]

11 - 
(a) [3,5,7,9]

(b) [50,60,70,80,90]

(c) [12,15,18]

(d) [(0,0),(0,1),(0,2),(0,3),(1,0),(1,2),(1,3),(2,0),(2,1),(2,2),(2,3)]

(e) [(0,0),(0,2),(1,1),(1,3),(2,0),(2,2)]

12 -

(a) [i**2 for i in range(1,6)]

(b) [i/4 for i in range(1,7)]

(c) [(x,y) for x in 'ab' for y in range(3)]

13 - x i lst

14 - The built-in reversed function in Python is used to reverse a sequence like a list, string, or tuple by creating a reverse iterator of the given sequence.

23 - I didn't understand the question

In [ ]:
# 15 
def sum_positive(a):
    _sum = 0
    for i in a:
        if i > 0:
            _sum += i
    return _sum

In [ ]:
# 16
def count_evens(a):
    count = 0
    for i in a:
        if i % 2 == 0:
            count += 1
    return count

In [ ]:
# 17 
def print_big_enough(lst, num):
    for i in lst:
        if i > num:
            print(i)

In [ ]:
# 18 
def next_number(lst):
    for i in range(min(lst), max(lst)):
        if i not in lst:
            return i

In [ ]:
# 19
def reverse_list(lst):
    left = 0
    right = len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1
    return lst

In [ ]:
# 20
m = [[1] * 9 for i in range(6)]
for row in m:
    for item in row:
        print(item, end=' ')
    print()
m[2][4] = 0
print()
for row in m:
    for item in row:
        print(item, end=' ')
    print()

In [ ]:
# 21 
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst = [i for i in range(1, 11)]
lst = list(range(1, 11))
lst = []
for i in range(1, 11):
    lst.append(i)
lst = [1,2,3,4,5] + [x for x in range(6, 11)]

In [ ]:
# 22
def check_row_equals_column(m):
    for i in range(len(m)):
        for j in range(len(m[i])):
            if m[i][j] != m[j][i]:
                return False
    return True